@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;

}

/* Header section */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    margin-bottom: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav>h1 {
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

ul li>a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

nav>ul>li {
    list-style: none;
}

/* Banner Style */
.banner_content {
    text-align: center;
    margin: 0 auto;
    max-width: 862px;
}

/* main section styles */

main {
    max-width: 1240px;
    margin: 0 auto;
}

.text-light-gray {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.banner_title {
    color: #131313;
    text-align: center;
    font-size: 65px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
}

.btn_primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600px;
    border: none;
}

.banner img {
    margin-top: 20px;
    width: 100%;

}

/* feature Styles */
.feature {
    display: flex;
    align-items: center;
}

.section_picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
}

.quick-list {
    font-size: 2.8rem;
    font-weight: 500;
    color: #727272;
}

.of-our {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.feature-ss {
    font-size: 2.8rem;
    font-weight: 700;
    color: #f1c30c;
}

.section_picture img {
    width: 100%;
}

.feature_container {
    padding: 0px 70px;
}

/* Features two style */
.features-2 {
    margin: 130px 0px;
    display: flex;
    gap: 100px;
}

.feature-2-title {
    color: #131313;
    font-size: 2.9rem;
    font-weight: 700;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.feature-card {
    border-radius: 8px;
    background: #FFF;
    padding: 20px 30px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.text-title-common {
    font-size: 20px;
    font-weight: 600;
}

.fact-description {
    width: 542px;
}

/* Experience */
.expereince {
    color: white;
    width: 300px;
    border-radius: 8px;
    background: #FF900E;
    padding: 30px;
    position: relative;
    bottom: 100px;
    left: -50px;
}

.expereince>h1 {
    font: 700;
    font-size: 4rem;
}

.expereince>p {
    text-align: center;
}

/* some facts */
.fact-cards-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 100px;
    justify-content: space-around;
}

.fact-card {
    text-align: center;
    border: 2px solid rgb(81, 81, 78);
    padding: 30px 60px;
    border-radius: 5px;
}

.fact-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

/* sponsors style */
.sponser-description {
    text-align: center;
}

.sponser-pictures-container {
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

/* Footer */


/* responsive  */
@media screen and (max-width:576px) {

    header,
    .feature_container {
        padding: 10px;
    }

    nav,
    .sponser-pictures-container,
    .features-2,
    .feature,
    .fact-cards-container {
        flex-direction: column;
    }

    .fact-card {
        margin-bottom: 10px;
    }

    .section_picture {
        grid-template-columns: 1fr;
        margin-left: 10px;
    }

    .section_picture img,
    .fact-description,
    .features-2-picture img {
        width: 100%;
    }

    .sponser-pictures-container img {
        width: 60%;
    }

    .sponser-pictures-container {
        align-items: center;
        gap: 20px;
    }

    .expereince {
        position: relative;
        bottom: 0px;
        left: -0px;
        width: auto;
    }
}

/* For Medium device */
@media screen and (min-width:576px) and (max-width:960px) {

    header,
    .fact-description {
        padding: 30px;
    }

    nav,
    .features-2 {
        flex-direction: column;
    }

    .features-2 {
        padding: 0px 35px;
    }

    .expereince {
        position: relative;
        bottom: 100px;
        left: -10px;
    }

    .fact-cards-container {
        flex-wrap: wrap;
    }

    .section_picture img,
    .features-2-picture img {
        width: 90%;
    }
}